* {
    box-sizing: border-box;
    margin: 0;
}

body{
    display: flex;
    flex-wrap: wrap;
}

.maindobby{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 700px;
    background-image: url("/static/assets/dobby_cut.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
.nv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 1;
}

.navleft{
    display: flex;
    justify-content: left;
}

.navright{
    display: flex;
    justify-content: right;
}

.nav_item{
    font-size: 20px;
}

.divider{
    border-right: 2px solid white;
    height: auto;
}

.nv a{
    text-decoration: none;
    color: white;
}

.title {
    font-size: large;
    text-decoration: none;
    color: white;

}

/* 본문 버튼 CSS */

.content{
    position: relative;
    display: flex;
    justify-content: center;
    top: 50px;
    width: 100%;
    height: 100%;
}

.upload-button{
    width: 1400px;
    min-width: 1000px;
    min-height: 500px;
    height: 400px;
}

.filebox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
    min-height: 300px;
}

.fun{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    min-height: 100px;
}

.filebox label {
    vertical-align: middle;
    cursor: pointer;
    border-style: none;
    height: 40vh;
    width: 40vw;
    border-radius: 8px;
    margin: 10px;
    background: white;
    transition: box-shadow 250ms ease-in;
    transition: transform 250ms ease-in;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url("/static/assets/add.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.filebox label strong{
    color: black;
    z-index: 1;
    font-size: 40px;
}


.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.fun input[type="submit"] {
    color: white;
    background-color: rgb(110, 80, 41);
    height: 10vh;
    width: 20vw;
    border-radius: 15px;
    font-size: 40px;
    margin: 0 auto;
}

.filebox label:hover{
    box-shadow: 0px 4px 4px rgb(110, 80, 41), 13px 10px 15px rgb(110, 80, 41);
    transform: translate(-2px, -2px);
    overflow: hidden;
}

.fun input:hover{
    box-shadow: 0px 4px 4px rgb(110, 80, 41), 13px 10px 15px rgb(110, 80, 41);
    transform: translate(-2px, -2px);
    overflow: hidden;
}

/* footer */

.foot{
    background-color: rgb(110, 80, 41);  
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 3%;
    top: 100px;
    width: 100%;
    height: 100px;
}

.foot h1, h4{
    text-decoration: none;
    color: white;
}

.footleft{
    display: flex;
    justify-content: left;
}

.footright{
    display: flex;
    justify-content: right;
    align-items: center;
}

.footbtn1{
    background-color: rgb(110, 80, 41);
    border-style: none;
    height: 5vh;
    width: 5vw;
    background-image: url("/static/assets/youtube.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.footbtn2{
    background-color: rgb(110, 80, 41);
    border-style: none;
    height: 5vh;
    width: 5vw;
    background-image: url("/static/assets/github.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}