{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Signup</title>
    <link href="{% static 'css/signup.css' %}" rel="stylesheet">
</head>
<script>
    function check_pw(){
  
        var pw = document.getElementById('pw').value;
        var SC = ["!","@","#","$","%"];
        var check_SC = 0;
  
        if(pw.length < 6 || pw.length>16){
            window.alert('비밀번호는 6글자 이상, 16글자 이하만 이용 가능합니다.');
            document.getElementById('pw').value='';
        }
        for(var i=0;i<SC.length;i++){
            if(pw.indexOf(SC[i]) != -1){
                check_SC = 1;
            }
        }
        if(check_SC == 0){
            window.alert('!,@,#,$,% 의 특수문자가 들어가 있지 않습니다.')
            document.getElementById('pw').value='';
        }
        if(document.getElementById('pw').value !='' && document.getElementById('pw2').value!=''){
            if(document.getElementById('pw').value==document.getElementById('pw2').value){
                document.getElementById('check').innerHTML='비밀번호가 일치합니다.'
                document.getElementById('check').style.color='blue';
            }
            else{
                document.getElementById('check').innerHTML='비밀번호가 일치하지 않습니다.';
                document.getElementById('check').style.color='red';
            }
        }
    }

    function submit_clear(){
        alert('회원가입이 완료되었습니다.')
        return true;
    }



</script>
<body>
    <header>
    </header>
    <div class="logo">
        <img src='/static/assets/logindobby.png' style="width: 350px; height:350px;">
    </div>
    <div class="form-signup">
        <form method="POST" action="." onsubmit="submit_clear();">
        {% csrf_token %}
        {{form}}
        <div class="signup-title">
        <h1>도비를 해방시켜주세요</h1>
        </div>

        <div>
            <input type="text" id="floatingInput" placeholder="Username" name="member_id" value={{member_id}}>
        </div>
        <div>
            <input type="email" id="floatingInput" placeholder="E-Mail" name="member_email" value={{member_email}}>
        </div>
        <div>
            <input type="text" id="floatingInput" placeholder="Nick" name="member_nick" value={{member_nick}}>
        </div>
        <div>
            <input type="password" id="pw" placeholder="Password" onchange="check_pw()" name="member_password" value={{member_password}}>
        </div>
        <div>
            <input type="password" id="pw2" placeholder="Password 확인" onchange="check_pw()" name="check_password">
        </div>
        <div class="check"><span id="check"></span></div>
     
        <button class="submit-btn" type="submit" value="로그인">회원가입</button>
        
        {% comment %} <div class="bottomText">
            회원이 아니신가요? <a href="{% url 'main:main' %}">회원가입하기</a>
        </div> {% endcomment %}
        </form>
    </div>
    <div class="foot">
        <div class="footleft">
            <h1>
                <strong>DOBBYEDIT</strong>
            </h1>
        </div>
        <div class="footright">
            <div class='copyright'>
                <h4>
                    <strong>Contact webmaster for more information. 010-지기지기-기용기용</strong>
                </h4>
            </div>
            <button class="footbtn1" onclick="location.href='{%url 'main:main' %}'">
            </button>
            <button class="footbtn2" onclick="location.href='{%url 'main:main' %}'">
            </button>
        </div>
    </div>  
</body>

</html>