* {
    box-sizing: border-box;
    margin: 0;
}

body{
    display: flex;
    flex-wrap: wrap;
}

.maindobby{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 700px;
    background-image: url("/static/assets/proud.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
.nv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 1;
}

.navleft{
    display: flex;
    justify-content: left;
}

.navright{
    display: flex;
    justify-content: right;
}

.nav_item{
    font-size: 20px;
}

.divider{
    border-right: 2px solid white;
    height: auto;
}

.nv a{
    text-decoration: none;
    color: white;
}

.title {
    margin-top: 25px;
    font-size: large;
    text-decoration: none;
    color: white;
}

/* 본문 버튼 CSS */

.content{
    position: relative;
    display: flex;
    justify-content: center;
    top: 50px;
    width: 100%;
    height: 100%;
}

.menu-button{
    width: 1400px;
    min-width: 1000px;
    min-height: 700px;
    height: 800px;
}
.row1{
    font-size: 40px;
    color: rgb(160, 158, 155);
    padding-left: 5%;
    padding-bottom: 50px;
}

.row2{
    display: flex;
    /* justify-content: center; */
    flex-wrap: nowrap;
    margin: 0 auto;
    width: 90%;
    min-height: 300px;
}

.bt1, .bt2, .bt3{
    border-style: dotted;
    height: 40vh;
    width: 40vw;
    border-radius: 8px;
    margin: 10px;
    background: white;
    transition: box-shadow 250ms ease-in;
    transition: transform 250ms ease-in;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.bt1, .bt2, .bt3{
    align-items: flex-end;
    width: 33%;
}

.bt1{
    background-image: url("/static/assets/camera.png");
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center center;
}

.bt2{
    background-image: url("/static/assets/bulletin-board.png");
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center center;
}

.bt3{
    background-image: url("/static/assets/user.png");
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center center;
}
strong{
    word-break: break-all;
}

.bt1 strong{
    font-size: 40px;
}

.bt2 strong{
    font-size: 40px;
}

.bt3 strong{
    font-size: 40px;
}

button.bt1:hover{
    box-shadow: 0px 4px 4px rgb(110, 80, 41), 13px 10px 15px rgb(110, 80, 41);
    transform: translate(-2px, -2px);
    overflow: hidden;
}
button.bt2:hover{
    box-shadow: 0px 4px 4px rgb(110, 80, 41), 13px 10px 15px rgb(110, 80, 41);
    transform: translate(-2px, -2px);
    overflow: hidden;
}
button.bt3:hover{
    box-shadow: 0px 4px 4px rgb(110, 80, 41), 13px 10px 15px rgb(110, 80, 41);
    transform: translate(-2px, -2px);
    overflow: hidden;
}


/* about us */
.aboutus{
    position: relative;
    display: flex;
    justify-content: center;
    top: 50px;
    width: 100%;
    height: 100%;
}

.intro{
    width: 1400px;
    min-width: 1000px;
    min-height: 700px;
    height: 800px;
}

.foot{
    background-color: rgb(110, 80, 41);  
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 3%;
    top: 100px;
    width: 100%;
    height: 100px;
}

.foot h1, h4{
    text-decoration: none;
    color: white;
}

.footleft{
    display: flex;
    justify-content: left;
}

.footright{
    display: flex;
    justify-content: right;
    align-items: center;
}

.footbtn1{
    background-color: rgb(110, 80, 41);
    border-style: none;
    height: 5vh;
    width: 5vw;
    background-image: url("/static/assets/youtube.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.footbtn2{
    background-color: rgb(110, 80, 41);
    border-style: none;
    height: 5vh;
    width: 5vw;
    background-image: url("/static/assets/github.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
/* @media screen and (max-width: 900px) {
    button{
        width: 500px;
        height: 300px;
    }
} */
p{
    margin:7px 300px 0px 0px;
    font-size:20px;
}

.row{
    float:right;
    margin:10px 10px 30px 10px;
}
.form-select{
    height:50px;
    font-size: 15px;
    background-color: rgb(110, 80, 41);
    border-radius:7px;
    border-color:rgb(110, 80, 41);
    color:white;
}
.form-control{
    height:50px;
}
.col-auto{
    height:50px;
}
button{
    height:50px;
    width:100px;
    margin:0px;
   
   
}


body{
 
    background-color: burlywood;
}
/*
페이징 css
*/

.page-link{
    background-color:rgb(110, 80, 41);
    border-color:rgb(110, 80, 41);
    color:burlywood;
    border-radius:50%;
    font-size:20px;
    margin-left: 8px;
}

a.page-link-next,a.page-link-prev{
    border-radius:50%;
    background-color:rgb(110, 80, 41);
    border-color:rgb(110, 80, 41);
    color: burlywood;
    font-size:20px;
    padding: 8px 12px;
    margin: 0px 0px 0px -1px;
   
}
.page-item.disabled .page-link {
    color: burlywood;
    pointer-events: none;
    cursor: auto;
    background-color: rgb(110, 80, 41);
    border-color: rgb(110, 80, 41);
    border-radius: 50%;
}

.page-item.active .page-link {
    z-index: 3;
    color: burlywood;
    background-color: rgb(52, 38, 19);
    border-color: rgb(52, 38, 19);
}
a:hover {
    z-index: 3;
    border-radius:50%;

    color: black;
    text-decoration: none;
}
.page-item:last-child .page-link {
    border-radius:50%;
}
.page-item:first-child .page-link {
    border-radius:50%;
}
.page-link:hover {
    z-index: 2;
    color: rgb(52, 38, 19);
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}
.table{
    text-align: center;
}
.table .thead-dark th {
    color: burlywood;
    background-color: rgb(52, 38, 19);
    border-color: rgb(52, 38, 19);
   
}

/* .table .thead-dark th .post_title{
    width: 500px;
   
} */
/* body > div.container.my-3 > table > thead > tr > th:nth-child(3){
    text-align: center;
} */